In [4]:
import pandas as pd
import numpy as np

In [5]:
column_names = [
    'v1','v2','v3','v4','v5','v6','v7','v8','v9','v10','v11','v12','v13','v14','v15','v16','v17','v18','v19','v20','v21',
     'Class'
]


# Loading the data with space as the delimiter and no index column
df = pd.read_csv(r'C:\Users\sai kiran\Downloads\thyroid+disease/ann-train.data', sep=r'\s+', index_col=None, header=None)

# Display the first few rows to verify
df.head()


#here \s+ treats any extra spaces as a single pattern

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,0.73,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0.00060,0.015,0.120,0.082,0.146,3
1,0.24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.00025,0.030,0.143,0.133,0.108,3
2,0.47,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.00190,0.024,0.102,0.131,0.078,3
3,0.64,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0.00090,0.017,0.077,0.090,0.085,3
4,0.23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.00025,0.026,0.139,0.090,0.153,3

In [6]:
df.columns=column_names

In [7]:
df.columns

Index(['v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9', 'v10', 'v11',
       'v12', 'v13', 'v14', 'v15', 'v16', 'v17', 'v18', 'v19', 'v20', 'v21',
       'Class'],
      dtype='object')

In [8]:
#now uploading this csv file in upload_data_to_db

In [9]:
df.to_csv(r"C:\Users\sai kiran\OneDrive\Desktop\thyroid_detection\upload_data_to_db\thyroid_ann.csv",index=False)